*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    text-decoration: none;
    
    list-style-type: none;
}
body{
    background-color:#e2e7e2;
}
.navbar{
    background-color: #0f1111;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(image/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
    border: 1.5px solid transparent;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;    
}

/** box2**/
.nav-address{
    height: 50px;
    width: 100px;
}
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 24px;
    margin-top: 7px;
}
.add-sec{
    font-size: 1rem;
    margin-left: 4px;
}
.add-icon{
    display: flex;
    align-items: center;
    margin-left: 8px;
}
/**box3**/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid transparent;
    
}
.nav-search:hover{
    border: 2px solid orange;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
    outline: none;
}
.search-select:hover{
    background-color:rgb(238, 236, 236);
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
    outline: none;

}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #0f1111;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.search-icon:hover{
    background-color: #f8ab47;
}
.search-icon:active{
    color: white
}
/**box4**/
.nav-singin{
    height: 50px;
    width: 100px;
}
span{
    font-size: 0.7rem;
    font-weight: 300;
    margin-left: 13px;
}
.nav-sec{
    font-size: 0.76rem;
    font-weight: 700;
    margin-left: 12px;
}
.nav-return{
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 100px;
    justify-content: center;
    align-items: flex-start;
}
.return{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    font-weight: 300;
    height: 50px;
    width: 100px;
}
.pr{
    font-size: 0.83rem;
    font-weight: 700;
    margin-left: 23px;
}
.order{
    margin-left: 19px;
    font-weight: 700;
}
/**box6**/
.nav-cart i{
    font-size: 30px;
    margin-right: 3px;
}
.nav-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    font-weight: 700;
    margin-right: 5px;
    height: 50px;
    width: 100px;
}
.p6{
    margin-top: 9px;
}

/* pannle */

.pannle{
    background-color: #222f3d;
    height: 40px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
/* .pannle-ops p{
    display: inline-block;
    margin-left: 10px;
    border: 1.8px solid white;  
    height: 33px;
} */
.pannle-ops p {
    display: inline-block;
    margin-left: 10px;
    border: 1.8px solid transparent;  /* Border around each p element */
    padding: 4px 10px;  /* Add padding for better spacing */
    width: auto;  /* Adjust width as per content */
    height: 25px;
    line-height: 25px;  
}
.pannle-ops p:hover{
    border: 1.8px solid white;
}

.pannle-ops{
    width: 79%;
    font-size: 0.85rem;
    font-weight: 700;
}
.pannle-deals{
    font-size: 0.9rem;
    font-weight: 700;
    border: 1.8px solid transparent ;
    height: 33px;
    width: 190px;
}
.pannle-deals p{
    margin-top: 8px;
    margin-left: 2px;
}
.pannle-deals:hover{
    border: 1.8px solid white;
}
.pannle-all{
    font-weight: 700;
    border: 1.8px solid transparent;
    width: 50px;
    height: 33px
}
.pannle-all:hover{
    border: 1.8px solid white;
}
.pannle-all i{
    margin-top: 8px;
    margin-left: 4px;
}
/**hero*/
.hero-section {
    background-image: url("image/hero_image.jpg");
    mask-image: linear-gradient(to bottom, #000000 50%, transparent 100%); 
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative; 
    z-index: 1; 
}
.hero-msg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 30px;
    width: 80%;
    position: relative;
    top: 260px;
    left: 95px;
    
}
.hero-msg p{
    color: #0f1111;
    font-size: 14px;
    font-weight: 600;
}
.hero-msg a{
    color: #007185;

}
/**box-section**/
.shop-section {
    display: flex;
    flex-wrap: wrap;
    row-gap: 41px;
    justify-content: space-evenly;
    position: relative;
    margin-top: -260px;
    position: relative; 
    z-index: 2;
}
.box {
    position: relative;
    background-color: white;
    height: 400px;
    width: 23%;
    padding: 20px 0px 15px;
    margin-top: -19px;
}
.box-image1{
    background-image: url('image/box1_image.jpg');
    background-size: cover;
    height: 340px;
    margin-top: 10px;
}
.box-image2{
    background-image: url('image/box2_image.jpg');
    background-size: cover;
    height: 340px;
    margin-top: 10px;
}
.box-image3{
    background-image: url('image/box3_image.jpg');
    background-size: cover;
    height: 340px;
    margin-top: 10px;
}
.box-image4{
    background-image: url('image/box4_image.jpg');
    background-size: cover;
    height: 340px;
    margin-top: 10px;
}
.box-image5{
    background-image: url('image/box5_image.jpg');
    background-size: cover;
    height: 340px;
    margin-top: 10px;
}
.box-image6{
    background-image: url('image/box6_image.jpg');
    background-size: cover;
    height: 340px;
    margin-top: 10px;
}
.box-image7{
    background-image: url('image/box7_image.jpg');
    background-size: cover;
    height: 340px;
    margin-top: 10px;
}
.box-image8{
    background-image: url('image/box8_image.jpg');
    background-size: cover;
    height: 340px;
    margin-top: 10px;
}
.box-content{
    margin-left: 16px;
    margin-right: 16px;
}
.box-content p{
    color: #007185;
    margin-left: 0px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
}
.box-content p:hover{
    color: orange
}
.shop-section2{
    background-color: rgb(255, 255, 255);
    height: 240px;
    position: relative;
    left: 22px;
    width: 97%;
    top: 20px;
    margin-bottom: 39px;
    padding-top: 8px;
}
.heading span{
    font-size: 21px;
    font-weight: 700;
    color: #0F1111;
    position: relative;
    top: 7px;
}
.shop-section2 .product{
    display: flex;
    overflow-x: hidden;
    gap: 20px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
.shop-section2 .product img{
    max-width: 150px;
    max-height: 186px;
}

.main{
    display: flex;
    justify-content: space-evenly;
    margin-left: 3px;
}

.watch-container {
    text-align: left;
    background-color: #fff;
    padding: 20px;
    width: 271px;
    height: 420px;
}

.watch-container h2 {
    font-size: 20px;
    margin-bottom: 16px;
    color: #333;
}

.watch-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.watch-card {
    text-align: start;
}

.watch-card img {
    height: 125px;
    width: 130px;
    object-fit: cover;
}

.watch-card p {
    margin: 0 0 8px;
    font-size: 12px;
    color: #555;
}

.discover-more {
    display: inline-block;
    margin-top: 16px;
    font-size: 14px;
    font-weight: 600;
    color: #0073e6;
    text-decoration: none;
}

.discover-more:hover {
    color: orange;
}
.shop-section-3{
     display: flex; 
    height: 265px;
    width: auto;
    background-color: white;
    margin: 21px;
}
.shop-section-3 .image{
    display: flex;
    overflow-x: hidden;
    gap: 10px;
    margin-left: 25px;
    margin-top: 10px;
}
.shop-section-3 .hadding a{
    color: #7a9494;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    position: relative;
    left: 340px;
    top: -6px;
}

.shop-section-3 .hadding a:hover{
    color: rgb(203, 132, 0);
    text-decoration: underline;
}

.shop-section-3 .hadding h2{
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
    font-weight: 700;
    margin-left: 23px;
    position: relative;
    top: 16px;
}

.shop-section-4{
    display: flex;
    justify-content: space-evenly;
}

.card-shop{
    background-color: white;
    padding: 20px;
    width: 271px;
    height: 396px;
}
.card-shop h2{
    font-size: 20px;
    margin-bottom: 16px;
    color: #333;
}
.card-image-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.card-image img{
    height: 125px;
    width: 130px;
    object-fit: cover;
}
.card-image p{
    margin: 0 0 8px;
    font-size: 12px;
    color: #555;
}
.card-shop a{
    margin-top: 16px;
    font-size: 14px;
    font-weight: 600;
    color: #63a0dc;
    position: relative;
    top: 20px;
    text-decoration: none;
}
.card-shop a:hover{
    color: orange;
}
.game img{
    height: 310px;
    width: 270px;
    object-fit: cover;
}

.shop-section-5{
    height: 262px;
    width: 97%;
    background-color: white;
    margin-bottom: 20px;
    position: relative;
    top: 20px;
    left: 20px;
    padding-bottom: -10px;
    margin-bottom: 39px;
    padding-top: 8px;
}

.shop-section-5 .product{
    display: flex;
    overflow-x: hidden;
    margin-left: 23px;
    margin-right: 20px;
    gap: 44px;
   position: relative;
   top: 10px;
   object-fit: cover;
}
.shop-section-5 .head span{
    font-size: 21px;
    font-weight: 700;
    color: #0F1111;
    position: relative;
    top: 7px;
}
.shop-section2 .product img{
    max-width: 150px;
    max-height: 186px;
}

footer{
    margin-top: 17px;
}
.foot-pannle{
    background-color: #37475a;
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
.foot-pannle2{
    background-color: #222f3d;
    color: white;
    height: 257px;
    display: flex;
    justify-content: space-evenly;
}
.foot-pannle2 ul{
    margin-top: 20px;
}
.foot-pannle2 a{
    color: #dddddd;
    display: block;
    font-size: 0.8rem;
    margin-top: 10px;
}
.foot-pannle2 a:hover{
    text-decoration: underline;
}
.foot-pannle2 p{
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
}
.foot-pannle3{
    background-color: #222f3d;
    color: white;
    border-top: 0.1px solid rgba(255, 255, 255, 0.268);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-pannle3 .logo{
    background-image: url('image/amazon_logo.png');
    background-size: cover;
    height: 50px;
    width: 100px;
    margin-right: 50px ;
}
.location{
    display: flex;
    border: 0.1px solid rgba(255, 255, 255, 0.257);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
}
.location p{
    font-weight: 600;
}
.location i{
    margin-right: 6px;
    margin-left: -4px;
}
.money{
    display: flex;
    border: 0.1px solid rgba(255, 255, 255, 0.257);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    margin-left: 10px;
}
.money p{
    font-weight: 600;
}
.money i{
    margin-right: 6px;
    margin-left: -4px;
}
.map{
    display: flex;
    border: 0.1px solid rgba(255, 255, 255, 0.257);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 19px;
    border-radius: 4px;
    margin-left: 10px;
}
.map p{
    font-weight: 600;
}
.map i{
    margin-right: 6px;
    margin-left: -4px;
}
.foot-pannle4{
    background-color: #0f1111;
    color: white;
    display: flex;
   height: 100px;
}
.pages {
    margin-top: 20px;
    margin-left: 450px;
   
}
.pages a{
    color: white;
    font-size: 14px;
    padding-right: 5px;
}
.pages a:hover{
    text-decoration: underline;
}
.foot-pannle4 h4{
    margin-top: 6px;
    text-align: center;
    font-size: 12px;
   
}

